@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  scrollbar-gutter: stable;
}

.my-glass {
  background: rgba(0, 0, 0, 0.47);
  border-radius: 16px;
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

.section {
  @apply w-full flex justify-center items-center;
}

.section-title {
  @apply font-bold text-3xl w-full text-center mb-5 tracking-wider;
}

.about-me-tab {
  @apply block w-full !-mr-[100%] transition-opacity duration-300;
}

.contact-button {
  @apply btn btn-square btn-primary text-white;
}

@media (prefers-color-scheme: dark) {
  .themed-svg {
    @apply filter brightness-0;
  }
}

@media (prefers-reduced-motion: reduce) {
  #typingContent {
    @apply animate-none border-none;
  }
}
