@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  scrollbar-gutter: stable;
}

.my-glass {
  background: rgba(0, 0, 0, 0.47);
  border-radius: 16px;
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

@media (prefers-color-scheme: dark) {
  .themed-svg {
    @apply filter brightness-0;
  }
}

.section {
  @apply w-full flex justify-center items-center;
}

.mockup-code pre {
  @apply !p-0;
}

.mockup-code::-webkit-scrollbar {
  width: 1rem;
}

.mockup-code::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.mockup-code::-webkit-scrollbar-thumb {
  @apply bg-zinc-600;
  @apply rounded-full;
}

.const {
  @apply text-blue-500;
}

.variable {
  @apply text-sky-400;
}

.white {
  @apply text-white;
}

.key {
  @apply text-blue-200;
}

.value-string {
  @apply text-orange-400;
}

.value-number {
  @apply text-green-300;
}

.value-undefined {
  @apply text-blue-500;
}

.value-boolean {
  @apply text-blue-500;
}

.value-error {
  @apply text-red-500;
}

.brackets {
  @apply text-purple-400;
}

.text-size {
  @apply text-sm sm:text-base md:text-lg lg:text-xl;
}
